.range-slider {
    
}

.range-slider__value {
    color: #FE7035;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.slider {
    --slider-background: rgb(189, 189, 189);
    --slider-foreground: rgba(0, 0, 0, 1);
    --slider-height: 3px;
    --slider-handle-size: 40px; 
    position: relative;
}

.slider__track {
    height: var(--slider-height);
    background: var(--slider-background);
}

.slider__fill {
    background: var(--slider-foreground);
    height: var(--slider-height);
    position: absolute;
    top: 0;
}

.slider__handle {
    background-image: url('../bike.svg');
    bottom: -6px;
    cursor: pointer;
    display: inline-block;
    height: var(--slider-handle-size);
    margin-left: -20px;
    outline: 0;
    position: absolute;
    transition: left .2s ease-in-out;
    width: var(--slider-handle-size);
}
