.route {
    align-items: center;
    background: #8D8D95;
    border: 0;
    cursor: pointer;
    display: flex;
    margin: 10px 0;
    outline: 0;
    padding: 20px;
    position: relative;
    width: 100%;
}

.route--selected {
    font-weight: 700;
}

.route__length-indicator {
    --h: 120;
    background: hsl(var(--h), 100%, 50%);
    height: 100%;
    left: 0;
    position: absolute;
    width: 7px;
}

.route__info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.route__name {
    text-align: left;
    font-size: 1rem;
}

.route__distance {
    align-items: center;
    display: flex;
    font-size: 0.8rem;
}

.route__elevation {
    align-items: center;
    display: flex;
    font-size: 0.8rem;
}

.route__icon {
    font-size: 18px !important;
    margin-right: 5px;
    opacity: 0.5;
}
