:root {
    --slider-background: rgb(189, 189, 189);
    --slider-foreground: rgb(0, 188, 212);
    --slider-height: 3px;
    --slider-handle-size: 12px; 
}

.routes {
    background: white;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 300px;
}

.routes__title {
    font-size: 1rem;
}

.routes__distance {
    margin: 30px 0;
}

.routes__distance-values {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.routes__distance-min, .routes__distance-max {
}

.routes__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.routes__route-button {
    border: 0;
    outline: 0;
    padding: 0;
}

.rc-slider {
    position: relative;
}

.rc-slider-rail {
    height: var(--slider-height);
    background: var(--slider-background);
}

.rc-slider-track {
    background: var(--slider-foreground);
    height: var(--slider-height);
    position: absolute;
    top: 0;
}

.rc-slider-handle {
    background: var(--slider-foreground);
    border-radius: 100%;
    display: inline-block;
    height: var(--slider-handle-size);
    margin-left: calc(var(--slider-handle-size) / -3);
    position: absolute;
    top: calc(var(--slider-handle-size) / -3);
    width: var(--slider-handle-size);
}

.rc-slider-tooltip-hidden {
    display: none;
}
