@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./assets/MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    width: 100%;
}

.app {
    display: flex;
    height: 100%;
}

.app__filter {
    background: #3C3C41;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    width: 350px;
}

.app__map {
    height: 100%;
    position: relative;
    width: calc(100% - 300px);
}

.app__header {
    align-items: center;
    color: white;
    display: flex;
    height: 70px;
    padding: 0 20px;
}

.app__logo {
    height: 50px;
}

.app__title {
    font-weight: 400;
    margin: 0 0 0 10px;
}

.mapbox-gl {
    z-index: 1;
}

.mapboxgl-map {
}
